<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<h1>Article</h1>
<%= form_tag do%>
title
<input type="text">
body
<textarea></textarea>
author
<textarea></textarea>>
<input type="submit" value="Create Action">
<% end %>